<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jschieckcomp2007.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jschieckcomp2007.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JSchieckComp2007</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>JustinSchieck</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jschieckcomp2007.database.windows.net,1433;Initial Catalog=JSchieckComp2007;User ID=null@jschieckcomp2007.database.windows.net;Password=Kiraanne1" Name="Data Source=tcp:jschieckcomp2007.database.windows.net,1433;Initial Catalog=JSchieckComp2007;User Id=null@jschieckcomp2007.database.windows.net;Password=Kiraanne1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FirstApplication_V2.Models.DataContext, FirstApplication_V2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:jschieckcomp2007.database.windows.net,1433;Initial Catalog=JSchieckComp2007;User ID=null@jschieckcomp2007.database.windows.net;Password=Kiraanne1" Name="Data Source=tcp:jschieckcomp2007.database.windows.net,1433;Initial Catalog=JSchieckComp2007;User Id=null@jschieckcomp2007.database.windows.net;Password=Kiraanne1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FirstApplication_V2-20170601090523.mdf;Initial Catalog=aspnet-FirstApplication_V2-20170601090523;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-FirstApplication_V2-20170601090523.mdf;initial catalog=aspnet-FirstApplication_V2-20170601090523;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jschieckcomp2007.database.windows.net,1433;Initial Catalog=JSchieckComp2007;User Id=null@jschieckcomp2007.database.windows.net;Password=Kiraanne1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>data source=tcp:jschieckcomp2007.database.windows.net,1433;initial catalog=JSchieckComp2007;user id=null@jschieckcomp2007.database.windows.net;password=Kiraanne1;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>